* {
    box-sizing: border-box;
}

body {
font-family: helvetica;
font-size: 14px;
    }

h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.aboutme span {
    display: block;
    padding: 5px;
    line-height: 1.2em;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

/* PROJECTS */

.projects {
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
}

.projects h2 {
    text-align: center;
    padding: 10px 0;
}

.list {
    padding: 5px;
}

.list img {
    width: 300px;
    height: 300px;
    border-radius: 7%;
}

.headline {
    display:block;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 1.4em;
}

.description {
    line-height: 1.2em;

}

.footer {
    max-width: 960px;
    margin: 0 auto;
    overflow: auto;

}

.social ul {
    text-align: center;
}

.social li {
    float: left;
}
